<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BurritoPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <clear/>
    <add name="NeatoBurrito" connectionString="user id=root;password=admin;server=localhost;Trusted_Connection=yes;database=NeatoBurrito;connection timeout=30"/>
  </connectionStrings>
  <applicationSettings>
        <BurritoPOS.Properties.Settings>
            <setting name="NeatoBurritoDB" serializeAs="String">
                <value>user id=root;password=admin;server=.\JIMTEST;Trusted_Connection=yes;database=NeatoBurrito;connection timeout=30</value>
            </setting>
        </BurritoPOS.Properties.Settings>
  </applicationSettings>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object name="BurritoManager" type="BurritoPOS.business.BurritoManager, BurritoPOS.business.FactoryManager">
        <property name="burritoSvc" ref="burritoSvc"/>
      </object>
      <object name="burritoSvc" type="BurritoPOS.service.Mongo.BurritoSvcMongoImpl"/>
      <object name="InventoryManager" type="BurritoPOS.business.InventoryManager, BurritoPOS">
        <property name="inventorySvc" ref="inventorySvc"/>
      </object>
      <object name="inventorySvc" type="BurritoPOS.service.Mongo.InventorySvcMongoImpl"/>
      <object name="OrderManager" type="BurritoPOS.business.OrderManager, BurritoPOS">
        <property name="orderSvc" ref="orderSvc"/>
      </object>
      <object name="orderSvc" type="BurritoPOS.service.Mongo.OrderSvcMongoImpl"/>
    </objects>
  </spring>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">user id=root;password=admin;server=.\JIMTEST;Trusted_Connection=yes;database=NeatoBurrito;connection timeout=30</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="show_sql">true</property>
      <mapping resource="config/Hibernate/Burrito.hbm.xml"/>
      <mapping resource="config/Hibernate/Customer.hbm.xml"/>
      <mapping resource="config/Hibernate/Employee.hbm.xml"/>
      <mapping resource="config/Hibernate/Inventory.hbm.xml"/>
      <mapping resource="config/Hibernate/Manager.hbm.xml"/>
      <mapping resource="config/Hibernate/Order.hbm.xml"/>
    </session-factory>
  </hibernate-configuration>
</configuration>
